.sidebar {
    position: fixed;
    margin-top: 2.5%;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0; /* Height of navbar */
    box-shadow: rgba(0, 0, 0, 0.07) 4.8px 4.8px 13.2px;
    width: 15vw;
    font-size: 17px; 
}

#sidebarMenu{
    background-color: rgb(248, 248, 248);
}

.bg{
    background-color: rgb(248, 248, 248);
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.list-group-item{
    position: relative;
    border: transparent;
    transition: margin-left .7s;
}

.list-group-item:hover{
    background-color: var(--muted_maroon);
    color: white;
    border-radius: 15px;
    margin-left: 15px;
}

.active{
    position: relative;
    border: transparent;
    background-color: var(--muted_maroon) !important;
    color: white;
    border-radius: 15px !important;
}

.sub{
    padding-left: 13%;
}